// primary 
$lightOrange: rgba(242,113,38, 1);

// secondary
$green: rgba(71,114,41, 1);

// neutral 
$whiteOrange: rgba(242,217,215, 1);
$lightGray : rgb(242, 242, 242);
$white: rgb(255, 255, 255);
$orangeBlack: #130f0e;


// Dark Theme
// $darkBlue : hsl(240, 27%, 6%);
$darkBlue : #16202a;

// $lightBlue : hsl(225, 30%, 8%);
$lightBlue : #192734;

