// primary 
$lightOrange: hsl(22, 89%, 55%);

// secondary
$green: hsl(95, 47%, 30%);

// neutral 
$whiteOrange: hsl(4, 51%, 90%);
$lightGray : hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);
$orangeBlack: hsl(12, 15%, 6%);


// Dark Theme
$darkBlue : hsl(210, 31%, 13%);
$lightBlue : hsl(209, 35%, 15%);

