// main colors
$green: rgba(71,114,41, 1);
$lightOrange: rgba(242,113,38, 1);
$darkOrange: rgba(242,54,12, 1);
$whiteOrange: rgba(242,217,215, 1);
$brown: rgba(140,2,2, 1);
$lightGray : rgb(242, 242, 242);
$white: rgb(255, 255, 255);
$orangeBlack: #130f0e;