@use '../abstract' as *;
@use '../reusable' as *;

html {
    font-size: 100%;
    line-height: 1.5;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $primaryFont;
    background-color: $lightGray;
    color: $orangeBlack;
}

h1, h2 {
    color: $orangeBlack;
    font-weight: 700;
}

h1 {
    font-size: rem(48);

    @include responsive(large) {
        font-size: fluid(28, 48);
    }
}

h2 {
    font-size: rem(18);

    @include responsive(large) {
        font-size: fluid(16, 18);
    }
}

p{
    font-size: rem(16);
    color: $orangeBlack;

    @include responsive(large) {
        font-size: fluid(14, 16);
    }
}