@use '../reusable' as *;
@use '../abstract' as *;

.header {
    width: 100%;
    height: auto;
    background-color: $white;
    margin-bottom: rem(27);

    .hide {
            display: none;
        }

    .show {
            display: inline-block
        }

    &__wrapper {
        @extend %flex;
        justify-content: space-between;
        align-items: center;
        max-width: rem(1180);
        width: 89.9vw;
        height: rem(95);
        margin: 0 auto;
        position: relative;
        z-index: 1;

        &-logo {
            @extend %linkreset;
            width: rem(160);

            @include responsive(large) {
                width: fluid(91, 160);
            }

            img {
                max-width: rem(160);
                width: 100%;

            }
            
        }
    }
}

.header__wrapper-cta  {
    &-addRecipe, &-theme {
        @extend %buttonreset;
        padding: 0;
        color: $orangeBlack;
        
        &:hover {
            color: $green;
        }

        &:active{
            color: $orangeBlack;
        }
    }

    &-addRecipe {
        margin-right: rem(20);
        font-size: rem(14);
        font-weight: 600;

        @include responsive(large) {
            font-size: fluid(12, 14);
            margin-right: rem(5);
        }
    }
    
    .far {
        font-size: rem(20);
        pointer-events: none;

        @include responsive(large) {
            font-size: fluid(14, 20);
        }
    }


}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 3;
    display: none;
}

.toTop {
    @extend %buttonreset;
    transition: all 300ms ease-in-out;
    position: fixed;
    right: rem(20);
    bottom: rem(20);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    font-size: rem(25);
    padding: 0;
    color: $orangeBlack;
    background-color: $lightOrange;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    border: 2px solid $lightOrange;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    @include responsive(large) {
        right: fluid(10, 20);
        bottom: fluid(10, 20);
        width: fluid(40, 50);
        height: fluid(40, 50);
    }


    @media (hover : hover) {
         &:hover {
            background-color: $white;
        }
    } 

    &:active {
        background-color: $lightOrange;
    }
}