@use '../abstract' as *;

@keyframes animate {
  0% { 
    transform: rotate(0deg)
  }
  100% { 
    transform: rotate(220deg)
  }
}

@keyframes animate2 {
  0% {
    box-shadow: inset $lightOrange 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset $lightOrange 0 0 0 2px;
  }
  100% {
    box-shadow: inset $lightOrange 0 0 0 17px;
    transform: rotate(140deg);
  }
}