@use 'functions' as *;
@use 'mixins' as *;
@use '../abstract' as *;

%flex {
    display: flex;
}

%grid {
    display: grid;
    gap: rem(65);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    @include responsive(large) {
        grid-template-columns: repeat(auto-fit, minmax(fluid(287.67, 350), 1fr));
    }
}

%listreset {
    list-style: none;
}

%linkreset {
    text-decoration: none;
    color: #ffffff;
}

%buttonreset {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:focus-visible {
        outline: 2px dashed $green;
    }
}

%inputreset {
    border: none;
    outline: none;
}
