@use 'functions' as *;
@use 'mixins' as *;
@use '../abstract' as *;

%flex {
    display: flex;
}

%grid {
    display: grid;
    gap: rem(65);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;

    @include responsive(large) {
        grid-template-columns: repeat(auto-fit, minmax(fluid(287.67, 350), 1fr));
    }
}

%listreset {
    list-style: none;
}

%focus {
    &:focus:not(:focus-visible){
        outline: none;
    }

    &:focus-visible {
        outline: 2px dashed $green;
    }
}

%linkreset {
    text-decoration: none;
    color: #ffffff;
    @extend %focus;
}

%buttonreset {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: rem(13) rem(30);
    letter-spacing: 1px;
    border-radius: rem(9);
    @extend %focus;
}

%inputreset {
    border: none;
    outline: none;
}
